# requirements file
# note which revision of python, for example 3.9.6
# in this file, insert all the pip install needs, include revision

flwr==1.10.0
ray==2.6.3
flwr-datasets[vision]==0.2.0
accelerate==0.30.0